.back {
  color: grey;
  text-decoration: none;
  margin-top: 10px;
}

.back:hover {
  color: grey;
  text-decoration: underline;
  margin-top: 10px;
}

.offer_link {
  color: grey;
}

.offer_link:hover {
  color: black;
}
