<h1> Mes transactions :</h1>


  <div class="container cards">
    <% @transactions.each do |transaction| %>
      <% if transaction.boat_size %>
        <div class="card-trip border w-75 mx-0 my-4">
           <div class="border-bottom mb-2 p-2 d-flex justify-content-center"><%= link_to Offer.find(transaction.offer_id).title, offer_transaction_path(transaction.offer_id, transaction) %></div>
          <div class="card-trip-infos d-flex flex-column align-items-center">
              Boat size: <%= transaction.boat_size %>m2 <br>
              Date: <%= transaction.date %><br>
              <% if transaction.status %>
                Status: Valid<br>
              <% else %>
                Status: Canceled<br>
              <% end %>
              Price : <%= Offer.find(transaction.offer_id).price.to_i * transaction.boat_size.to_i  %> €<br>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

