<div class="container mt-4">
	<%= simple_form_for [@offer, @transaction] do |f| %>
	  <%= f.input :date, label: 'Date'%>
	  <%= f.input :boat_size, label: 'Quel est la taille de votre batiment ? (en m²)' %>
	  <%= f.button :submit, 'Demander une prestation', class: 'btn btn-primary' %>
	<% end %>
</div>
